.gameHeader{
    width: 100%;
    height: 5%;
    float: left;
    background-color: yellow;
}
.gameLeft{
    width: 5%;
    height: 90%;
    float: left;
    background-color: black; 
}
.gameGround{
    width: 50%;
    height: 90%;
    float: left;
    background-color: green;
}
.gameScore{
    width: 45%;
    height: 90%;
    float: right;
    background-color: darkgrey;
}
.gameFooter{
    width: 100%;
    height: 5%;
    float: left;
    background-color: darkred;
}