/**css allgemein**/
html{
    height: 100%
}
body{
    height: 97%;
}
/**css für game.html**/
.gameHeader{
    width: 100%;
    height: 5%;
    float: left;
    background-color: darkgrey;
}
.gameLeft{
    width: 5%;
    height: 90%;
    float: left;
    background-color:darkgrey; 
}
.gameGround{
    width: 50%;
    height: 90%;
    float: left;
    background-image: url("/SoccerNoid/sources/img/ground.png");
    background-size: 100% 100%;
}
.gameScore{
    width: 45%;
    height: 90%;
    float: right;
    background-color: darkgrey;
}
.gameFooter{
    width: 100%;
    height: 5%;
    float: left;
    background-color: darkgrey;
}

/** css für Startseite **/
.startMain{
    width: 100%;
    height: 100%;
    background-color: white;
}
.button{
    width: 100%;
    height: 100%;
    background-color: red;
    font-size: 5vh;
    color: white;
    font-style: italic;
    font-family: monospace;
    text-align: center;
}
.buttonSelect{
    width: 30%;
    height: 15%;
    float: right;
}
.buttonEnd{
    width: 30%;
    height: 15%;
    float: left;
}
.startLogoInside{
    width: 100%;
    height: 80%;
    background: url("/SoccerNoid/sources/img/Soccernoid-Logo.PNG") no-repeat center center;
    background-size: 80% 80%;
}

/** css für selectTeam**/
.selectHeader{
    width: 100%;
    height: 15%;
    float: left;
}
.selectUsername{
    width: 49%;
    height: 70%;
    float: left;
    border: 1px solid red;
}
.selectTeam{
    width: 49%;
    height: 70%;
    float: right;
    border: 1px solid red;
}
.selectStart{
    width: 100%;
    height: 15%;
    float: left;
}
.selectLogoInside{
    background-image: url("/SoccerNoid/sources/img/Soccernoid-Logo.PNG");
    background-size: 100% 100%;
    height: 100%;
    width: 35%;
    float: left;
}
.selectHeaderText{
    font-size: 6vh;
    color: red;
    font-style: italic;
    font-family: monospace;
    text-align: center;
    float: right;
    height: 100%;
    width: 65%;
    line-height: 6vw;
}
.selectUserText{
    width: 100%;
    height: 40%;
    text-align: center;
    font-size: 6vh;
    color: black;
    font-style: italic;
    font-family: monospace;
    text-align: center;
}
.textarea{
    width: 95%;
    height: 25%;
    display: block;
    margin : 0 auto;
    font-size: x-large;
}
.selectUserInput{
    width: 100%;
    height: 30%;
}
.selectUserTeam{
    width: 100%;
    height: 30%
}
.selectButton{
    width: 100%;
    height: 33%;
}
.team1{
    background: url("/SoccerNoid/sources/img/teams/flag_germany.jpg");
    background-size: 100% 100%;
}
.team2{
    background: url("/SoccerNoid/sources/img/teams/flag_italiy.jpg");
    background-size: 100% 100%;
}
.team3{
    background: url("/SoccerNoid/sources/img/teams/flag_turkey.jpg");
    background-size: 100% 100%;
}